p.
  V tomto příkladu budeme opět používat grafickou kalkulačku, zkusíme si ale přepis kódu do TypeScriptu

h4 TypeScript compiler
ul
  li V jedné konzoli nechejte běžet #[strong npm start] - webserver s cvičeními
  li V druhé spusťte příkaz pro sledování změn a kompilaci TypeScriptu:

snippet.
  npm run ts-watch

p.
  Protože jsme TypeScript nastavili poměrně striktně ("noImplicitAny": true, "strictNullChecks": true), vidíme vy výpisu příkazu poměrně velké množství chyb.
  Zkusme je postupně projít a opravit.

p.
  Toto cvičení je volnější než předchozí, můžete buď upravovat typy jak uznáte za vhodné, nebo se držet doporučeného postupu.

h3 Doporučený postup

h4 Soubor index.ts

p Tento soubor je nejjednodušší, začneme tedy s ním.

ul.task
  li funkce #[em initCalculator] přijímá dva parametry typu #[em HTMLElement], dopište tedy správné typy

solution
  :highlight-js
    export function initCalculator(displayElement: HTMLElement, buttonsElement:HTMLElement) {

      const calculator = new Calculator();
      calculator.addOperation(new Add());
      calculator.addOperation(new Sub());
      calculator.addOperation(new Div());
      calculator.addOperation(new Mul());

      const display = new Display(displayElement);

      const buttonControls = new ButtonControls(buttonsElement, calculator, display);

    }

h4 Soubor display.ts

p Tento tomto souboru už máme třídu, měli bychom nejprve definovat její vlastnosti a poté typy metod

ul.task
  li přepište vlastnosti v konstruktoru na private vlastnosti
    ul
      li můžete využít deklarace vlastnosti přímo v parametrech konstruktoru
      li definice proměnných mohou být přímo ve třídě, není nutné je mít v konstruktoru
      li snažte se využít type inference
  li dopište typy parametrů dalších metod
  li snažte se psát co nejúsporněji - nepište typy tam, kde si je TypeScript odvodí sám

solution
  :highlight-js
    export class Display {
      private isResult_ = false;
      private value_ = '';

      constructor(private element_: HTMLElement) {
        this.clear();
      }

      setValue(value: string) {
        this.isResult_ = true;
        this.value_ = value;
        this.render_();
      }

      addToValue(value: string) {
        if (this.isResult_) {
          this.setValue("");
          this.isResult_ = false;
        }

        this.value_ += value;
        this.render_();
      }

      getValue() {
        return this.value_;
      }

      clear() {
        this.setValue("0");
      }

      render_() {
        this.element_.setAttribute("value", this.value_);
      }
    }

h4 Soubor operation.ts

p V tomto souboru si vyzkoušíme dědičnost a použijeme abstraktní třídu

ul.task
  li nejprve deklarujeme vlastnost name a její typ
    ul
      li pozor vlastnosti musí zůstat veřejná
      li chcete-li můžete deklarovat, že slouží pouze ke čtení
  li nyní dopíšeme typy metody calculate (podle parseFloat zjistíte jaký typ metoda očekává)
  li TypeScript hlásí, že nezná metodu calculateInternal_, definujte ji tedy jako abstraktní, včetně typových definic
  li nyní je nutní označit jako abstraktní celou třídu #[em Operation]
  li všimněte si, že pokud definujeme návratovou hodnotu pro calculateInternal_, není třeba ji znovu definovat pro metodu calculate, TypeScript si typ odvodí

p Abstraktní třídu máme připravenou, můžeme otypovat jednotlivé operace

ul
  li Dopište typy, které TypeScript vyžaduje pro calculateInternal_ v jednotlivých operacích

solution
  :highlight-js
    export abstract class Operation {
      readonly name: string;

      constructor() {
        this.name = this.constructor.name.toLowerCase();
      }

      calculate(a: string, b: string) {
        return this.calculateInternal_(parseFloat(a), parseFloat(b));
      };

      protected abstract calculateInternal_(a: number, b: number): number;

    }

    export class Add extends Operation {
      calculateInternal_(a: number, b: number) {
        return a + b;
      };
    }

    export class Sub extends Operation {
      calculateInternal_(a: number, b: number) {
        return a - b;
      };
    }

    export class Div extends Operation {
      calculateInternal_(a: number, b: number) {
        return a / b;
      };
    }

    export class Mul extends Operation {
      calculateInternal_(a: number, b: number) {
        return a * b;
      };
    }

h4 Soubor calculator.ts

ul.task
  li nejprve deklarujeme vlastnost operations a využijme generika
  li další vlastnosti zatím jen přesuneme z konstruktoru i s inicializací, můžeme je zatím označit jako private, typy nám vyplynou z typů metod později
  li konstruktor zůstal prázdný a můžeme ho smazat
  li nyní postupně doplňte typy parametrů metodám:
  ul
    li addOperation, calculate, setOperation a setOperand
  li nyní je vidět, že operand i název operace je string, změníme tedy jejich výchozí hodnoty z null na prázdný string, typy si TS odvodí
  li upravíme další operace, kde se přiřazoval jiný typ, než string
  li prohlédněte si kód a zkuste přijít na to, jaký typ by se hodil pro vlastnost result
  li proměnná může být null, string, nebo number, zvolme typ #[em string | null], inicializujte s hodnotou null a přetypujme hodnoty, kde je to potřeba.

p.
  V tuto chvíli hlásí TypeScript ještě jednu chybu v metodě #[strong calculate],
  v kombinaci s Map nezafungovala dobře #[em Control flow based type analysis], nezbývá nám tedy než dopsat typ ručně.

ul
  li doplňte do získání operace typovou informaci

solution
  :highlight-js
    import { Operation } from "./operations";

    export class Calculator {
      private operations: Map< string, Operation> = new Map();

      operand = '';
      operation = '';

      result: string | null = null;

      addOperation(operation: Operation) {
        this.operations.set(operation.name, operation);
      };

      calculate(name: string, a: string, b:string) {
        if (!this.operations.has(name)) {
          throw new TypeError('Unknown operation: ' + name);
        }

        const operation = this.operations.get(name) as Operation;
        return operation.calculate(a, b);
      }

      equals() {
        if (this.result === null) {
          this.result = '0';
        }

        if (this.operation) {
          this.result = this.calculate(this.operation, this.result, this.operand).toString();
        }

        return this.result;
      }

      setOperand(operand: string) {
        this.operand = operand;
        if (this.result === null || !this.operation) {
          this.result = operand;
        }
      }

      setOperation(operation: string) {
        if (!this.operations.has(operation)) {
          throw new TypeError('Unknown operation: ' + operation);
        }

        this.operation = operation;
      }

      clear() {
        this.result = null;
        this.operand = '';
        this.operation = '';
      }
    }


h4 Soubor buttonControls.ts

ul.task
  li definujte vlastnosti třídy jako private a dopište jim typy
    ul
      li můžete využít toho, že TS to umožňuje definovat vlastnosti přímo parametrech konstruktoru
      li všimněte si, že na některých místech je potřeba doplnit importy jen kvůli typům
  li doplňte typy parametrům metod třídy
    ul
      li u metody #[strong processButton] můžete jako typ použít #[strong MouseEvent]

p.
  V metodě #[em processButton] se rozhodujeme podle vlastnosti #[em type], která ale u HTMLElementu nemusí existovat.
  V JS kód funguje, protože vlastnost vrátí undefined, chceme-li ale psát kód typově, bylo by lepší kód refactorovat.
ul
  li event.target přetypujte na #[strong HTMLElement] a uložte do proměnné element
  li pomocí tagName ověřte, že jde o button
    ul
      li pozor, hodnota tagName je UPPERCASE!
  li do proměnné button element přetypujte jako #[strong HTMLButtonElement]
  li dále vyřešte, aby value předávaná do #[strong processNumber_] byla vždy typu string

solution
  :highlight-js
    import { Calculator } from "../calculations/calculator";
    import { Display } from "./display";

    export class ButtonControls {
      constructor(private buttonsElement: HTMLElement,
                  private calculator: Calculator,
                  private display:Display) {

        buttonsElement.addEventListener("click", (event) => this.processButton(event));
      }

      processButton(event: MouseEvent) {

        const element = event.target as HTMLElement;

        if (element.tagName !== "BUTTON") {
          return;
        }
        const button = element as HTMLButtonElement;

        if (button.classList.contains("operation")) {
          this.processOperation_(button.name);
        } else {
          const value = button.getAttribute("value") || '';
          this.processNumber_(value);
        }
      }

      processOperation_(type: string) {

        switch (type) {
          case "clear":
            this.calculator.clear();
            this.display.clear();
            break;

          case "equals":
            const result = this.calculator.equals();
            this.display.setValue(result);
            break;

          default:
            this.display.setValue(this.display.getValue());
            this.calculator.setOperand(this.display.getValue());

            this.calculator.setOperation(type);
        }
      }

      processNumber_(value: string) {
        this.display.addToValue(value);
        this.calculator.setOperand(this.display.getValue());
      }
    }

div.success
  h4 Hotovo!
  p Kód kalkulátoru je nyní staticky typovaný. Chcete-li si ověřit, že jste při úpravách nic nerozbili, můžete spustit testy příkazem

  snippet.
    npm run tests-ts

