p.
  V předchozím cvičením jsme viděli kalkulačku, do které můžeme přidat akce a zpětně je volat,
  nijak ale nebylo řešeno ošetření chyb.
  Nyní tedy použijeme výjimky k ošetření těchto stavů. Opět máte připravené testy, které se spouští v prohlížeči.

h4 Karma runner
p.
  Aby jste výsledky testů viděli pohodlně přímo v zadání, spusťte ještě karma runner:

ul
  li.task V jedné konzoli nechejte běžet #[strong npm start] - webserver s cvičeními
  li.task V druhé spusťte příkaz:

snippet.
  npm run tests-exceptions

h3 1 - Ošetření neplatné operace

h4 1.1 - Vytvořte test očekávající vyhození TypeError
ul
  li Při přidání neplatné operace by měla být vyhozena výjimka TypeError
  li Před samotnou implementací dokončeme rozpracovaný test v #[em tests.js], kde je naznačeno přidání neplatné akce
  li Test hlásí "SPEC HAS NO EXPECTATIONS", to znamená, že se nic netestuje.
  li.task Otestujte tedy, že vložení neplatné akce způsobí výjimku #[strong TypeError]
ul
  li Vytvořený test #[strong nebude zatím procházet!]

hint Pro otestování výjimky můžete použít #[strong expect(...).toThrowError(typeOfException)]
  br
  | Nezapomeňmte, že kód, kde je očekávána výjimka musíte obalit anonymní funkcí, jinak by došlo ihned k volání.

solution
  :highlight-js
    expect(
      function () {
        calculator.addOperation({});
      }
    ).toThrowError(TypeError);

tests(todo="1")

h4 1.2 - Ošetření přidání neplatné operace
ul
  li Nyní když připraven test, který padá, můžeme se pustit do implementace v #[em calculator.js]
  li.task V případě, že přidávaná operace není potomkem #[strong Operation], vyhoďte výjimku #[strong TypeError].

hint Použijte operátor #[strong instanceof], nezapomeňte na správné závorkování.

solution
  :highlight-js
    addOperation(operation) {
      if(!(operation instanceof Operation)){
        throw new TypeError("operation must be instance of Operation");
      }

      this.operations.set(operation.name, operation);
    };

tests(todo="1")

h3 2 - Vytvořte výjimku UnknownOperationError
ul
  li Vytvořte a exportujte třídu #[strong UnknownOperationError] přijímající v konstruktoru parametr #[strong message]
  li Vytvořte vlastnost #[strong name] a přiřaďte jí název dle názvu třídy
  li Zděďte #[strong Error] a nezapomeňte zavolat konstruktor a předat message jako parametr

solution
  :highlight-js
    export class UnknownOperationError extends Error {

      constructor(message) {
        super(message);
        this.name = 'UnknownOperationError';
      }

    }

tests(todo="2")


h3 3 - Ošetření neznámé operace
ul.task
  li Vyhoďte výjimku v případě že volána operace není obsažená v objektu operations
  li Předejte jí ve zprávě název operace

hint Pro kontrolu zda je operace přítomna můžete využít implicitní konverzi na boolean. Stačí použít #[strong if(objekt[nazev])] ...

solution
  :highlight-js
    calculate(name, ...operands) {
      if (!this.operations.has(name)) {
        throw new UnknownOperationError(`Unknown operation: ${name}`);
      }

      return this.operations.get(name).calculate(...operands);
    }

tests(todo="3")
